.sidebar {
  min-height: 100vh;
  width: 300px;
  border-right: 1px solid #e2e8f0;
  padding: 0.5rem;
}

.sidebar-items {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.sidebar-item {
  padding: 0.25rem 0 0.25rem 0;
}

.sidebar-item a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #94a3b8;
  font-size: 1.1rem;
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
}

.sidebar-item.active a {
  background-color: #f1f5f9;
  color: #1e293b;
}

.sidebar-item a:hover {
  cursor: pointer;
  background-color: #f1f5f9;
  color: #1e293b;
}

.sidebar-item-name {
  margin-left: 0.8rem;
}
